.FormatHeader{
  display: flex;
  margin: 0 auto 20px;
  justify-content: flex-end;
  padding-right: 3%;
  &__activeIcon{
    color: cornflowerblue;
  }
  &__icon{
    font-size: 25px;
    cursor: pointer;
    margin-right: 15px;
  }
}