

.ResultItem{
  margin-bottom: 40px;
  width: 24%;
  padding: 1%;
  @media(max-width: 1099px){
    width: 33%;
  }
  @media(max-width: 888px){
    width: 50%;
  }
  @media(max-width: 888px){
    width: auto;
    max-width: 330px;
  }
  &__image{
    width: 100%;
    img{
      width: inherit;
    }
  }
  &__info{

  }
}
.ItemInfo{
  text-align: left;
  font-family: Roboto, Arial, sans-serif;
  margin-top: 15px;
  display: flex;
  &__header{
    display:block;
  }
  &__title{
    font-size: 15px;
    font-weight: 600;
    color: rgba(3, 3, 3, 0.81);
  }
  &__info{
    display: flex;
    flex-flow: wrap;
  }
  &__description{
    display: none;
  }
  &__text{
    margin-right: 14px;
    color: #606060;
    padding-top: 4px;
    max-height: 3.6rem;
    font-size: 14px;
    font-weight: 500;
  }
  &__views{
    position: relative;
    &::after{
      content: '';
      width: 3px;
      height: 3px;
      background: #606060;
      border-radius: 1.5px;
      position: absolute;
      top: 10px;
      right: -8px;
    }
  }
  a{
    text-decoration: none;
    line-height: 15px;
  }
  &__chanel{
    width: 100%;
    &::after{
      content: none;
    }
  }
  &__about{

  }
  &__channelImage{
    margin-right: 10px;
  }
}

