

.ResultItem{
  display: flex;
  margin-bottom: 14px;
  &__image{
    width: 246px;
    img{
      width: inherit;
    }
  }
  &__info{
    margin-left: 15px;
  }
}
.ItemInfo{
  text-align: left;
  font-family: Roboto, Arial, sans-serif;
  &__header{
    display:block;
  }
  &__title{
    font-size: 18px;
    font-weight: 400;
    color: #030303;
  }
  &__info{
    display: flex;
    flex-flow: wrap;
  }
  &__description{

  }
  &__text{
    margin-right: 14px;
    color: #606060;
    padding-top: 4px;
    max-height: 3.6rem;
    font-size: 13px;
    font-weight: 400;
  }
  &__views{
    position: relative;
    &::after{
      content: '';
      width: 3px;
      height: 3px;
      background: #606060;
      border-radius: 1.5px;
      position: absolute;
      top: 12px;
      right: -8px;
    }
  }
  a{
    text-decoration: none;
  }
  &__about{

  }
}

