.Search{
  margin: 0 auto;
  &__input{
    max-width: 400px;
  }
  &__button{
    margin-left: 10px;
  }
}


input:focus{
  transition: all .3s;
  border-width: 1px;
  border-color: #ffffff;
  outline: 0;
  outline-offset: 0;
}
button:focus{
  transition: all .3s;
  outline: 0;
  outline-offset: 0;
}